{% extends 'base.html.twig' %}

{% block title %}New Voiture{% endblock %}

{% block body %}
    <h1>Create new Voiture</h1>

    {{ include('crud/_form.html.twig') }}

    <a href="{{ path('crud_index') }}">back to list</a>
{% endblock %}
